@model BakeryItem

<div class="col-6 col-sm-6 col-lg-4 col-md-4" style="margin-bottom: 2em; text-align: center">
    <div class="img-thumbnail shadow-sm border-0 bake-item" style="text-align: center;">
        <img class ="img-fluid" src="@Model.ImageThumbnailUrl" alt="" width="300" height="300"/>
        <div class="caption">
            <h3 style="font-family: 'Montserrat', sans-serif;">
                <a class="text-dark item-name text-decoration-none" asp-controller="Bakeryitem" asp-action="Details" asp-route-id="@Model.BakeryItemId">@Model.Name</a>
            </h3>
            <h4 style="font-family: 'Source Sans Pro', sans-serif;">@Model.Price.ToString("c")</h4>
        </div>

        <div class="addToCart text-center">
            <h5 class="button btn-block">
                <a class="btn btn-light border-dark btn-block" id="cartButton"
                   asp-controller="ShoppingCart"
                   asp-action="AddtoShoppingCart"
                   asp-route-bakeryitemId="@Model.BakeryItemId">
                    Add to cart
                </a>
            </h5>
        </div>
    </div>
</div>