<div class="container marginTop">
    <div class="row">

        <div class="col">
            <div class="text-center view overlay hm-white-slight">
                <img src="@Model.ImageUrl" class="img-fluid" alt="">
                <a href="#">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
        </div>
        <div class="col">
            <!--Title-->
            <h3>@Model.Name</h3>
            <h5>@Model.Price.ToString("c")</h5>

            <p class="text-justify">@Model.Longdescription.</p>
            <p class="btn btn-group pull-right">
                <a asp-controller="BakeryItem" asp-action="List" class="btn btn-default">Show all Item</a>
                <a class="btn btn-light border-dark" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-bakeryitemId="@Model.BakeryItemId">
                    Add to cart
                </a>
            </p>
        </div>
    </div>
</div>